body {
    text-align: center;
    padding: 0 25% 0 25%;
    background-color: black;
}

h1 {
    color: blue;
    font-family: Arial;
}

img {
    margin: 10px;
}

.container {
    border-style:dashed;
    padding: 10px 0 10px 0;
    background-color: white;
}

label {
    font-family: Arial;
    font-size: 16;
    font-weight: bold;
}

.output {
    font-size: 30;
    color: red;
}
